<div style='width:750.0px;background:#ffffff;font-family:microsoft yahei;font-size:14.0px;color:#333333;overflow:hidden;margin:auto;'>
<div style='padding-bottom:0.0px;overflow:hidden;background:#ffffff;float:left;margin:0px 0px 0px 0px;'>
			<div style='float:left;width:750.0px;height:226.0px;'>
			<img src='http://img03.taobaocdn.com/imgextra/i3/42635718/T20PLEXbJaXXXXXXXX_!!42635718.gif' style='width:750.0px;height:226.0px;' />
			</div>
			<div style='float:left;width:750.0px;height:0.0px;margin-top:-165.0px'>
<a target=_blank href='http://lkea.taobao.com/p/postfees.htm'>
				<img src='http://img02.taobaocdn.com/imgextra/i2/42635718/T2FtLFXfBaXXXXXXXX_!!42635718.gif'  style='float:left;margin: 0.0px 0.0px 0.0px 20.0px;' border='0'/>	
</a>
<a target=_blank href='http://lkea.taobao.com/p/reply.htm'>
				<img src='http://img04.taobaocdn.com/imgextra/i4/42635718/T2QdDFXnNXXXXXXXXX_!!42635718.gif' style='float:left;margin: 0px 0.0px 0.0px 20.0px;' border='0'/>	
</a>
<a target=_blank href='http://lkea.taobao.com'>
				<img src='http://img04.taobaocdn.com/imgextra/i4/42635718/T2IHrGXaFXXXXXXXXX_!!42635718.gif' style='float:left;margin:0.0px 0.0px 0.0px 400.0px;' border='0'/>	
</a>
<a target=_blank border='0' href='http://favorite.taobao.com/popup/add_collection.htm?spm=a1z10.1.0.59.bBBcpJ&id=37028128&itemid=37028128&itemtype=0&sellerid=42635718&scjjc=2&_tb_token_=e73ef16575e6e'>

				<img src='http://img02.taobaocdn.com/imgextra/i2/42635718/T2DXGGXfJcXXXXXXXX_!!42635718.gif' style='float:left;margin:0.0px 0.0px 0.0px 20.0px;' border='0'/>			
</a>
				</div>
			
<div style='float:left;width:750.0px;height:173.0px;'>			

<img src='http://img03.taobaocdn.com/imgextra/i3/42635718/T2PbvGXbJXXXXXXXXX_!!42635718.gif' style='float:left;width:750.0px;height:173.0px;'/>

<div style='float:left;margin-top:-125px;'>
			<div style='float:left;width:310.0px;height:90.0px;overflow:hidden;margin-left:55px'>
			包邮？优惠券？我们的促销方案正在制定中……
			</div>
			<div style='float:left;width:250.0px;height:90.0px;overflow:hidden;margin-left:25px'>
			本栏目暂缓开放
			</div>
</div>

</div>
<div style=' clear: both;height:1px;margin-top:-1px;overflow:hidden;'></div>
</div>
<div style='float:left;padding-bottom:0.0px;overflow:hidden;background:#ffffff;'>
			<div style='margin:0.0px 0.0px 30.0px;height:65.0px;color:white;'>
			<a target=_blank href='http://www.taobao.com/webww/?spm=a1z10.1.0.66.6Y3eA0&ver=1&&touid=cntaobaocharick&siteid=cntaobao&status=2&portalId=&gid=&itemsId='>
			<img src='http://img03.taobaocdn.com/imgextra/i3/42635718/T2t6YEXiFaXXXXXXXX_!!42635718.gif'  style='width:750.0px;height:65.0px;'/></a>
				<div style='margin:-55.0px 0.0px 0.0px 20.0px;font-size:25.0px;line-height:40.0px;'>
					关于$product.ProductName</div>
					
				
			</div>
		<div style='width:260.0px;height:280px;overflow:hidden;float:left;display:inline;margin:0px 30.0px 0px 30.0px;'>
		<div style='width:200.0px;height:200.0px;overflow:hidden;float:right;margin-right:35px;display:inline;'>
					<img src='http://www.ikea.com/PIAimages/${product.pic_id.get(0)}_S3.jpg' height="200" width="200"style='vertical-align:top;' />	</div>			
			<img src='http://img01.taobaocdn.com/imgextra/i1/42635718/T2tv2FXoBXXXXXXXXX_!!42635718.gif' style='float:right;display:inline;margin-top:-200.0px;' />			
			<img src='http://img01.taobaocdn.com/imgextra/i1/42635718/T2PQ_DXeVaXXXXXXXX_!!42635718.gif' style='float:right;display:inline;margin-top:-76.0px;margin-right:25px'/>
			<div style='width:250.0px;float:right;display:inline;margin-top:-70.0px;margin-right:0px;font-size:12.0px;color:white;text-align:left;'>
			官网链接<br/>
ikea.cn/catalog/products/$product.getProduct_id()</div>
			</div>
			
			<div style='width:150.0px;float:left;display:inline;text-align:left;margin-left:0.0px;'>
			<div style='display:inline;float:left;width:150.0px;color:white;font-size:25.0px;text-align:center;background-color:#bf0404;line-height:28px;'>
				安装后尺寸</div>
#if($assembledSize.length() >1)
				<div style='display:inline;float:left;width:150.0px;color:black;text-align:left;font-size:16.0px;line-height:27.0px;margin-left:5.0px'>
				<br />
				$assembledSize 
				</div>
#else
				<div style='display:inline;float:left;width:150.0px;color:black;text-align:left;font-size:18.0px;line-height:27.0px;margin-left:5.0px'>
				<br />
				未具体表明
				</div>
#end				
			</div>
		<div style='display:inline;width:218.0px;float:left;margin-left:30.0px;;padding:6.0px;font-size:12.0px;overflow:hidden;border:1px dashed;border-bottom:0px;min-height:20.0px;max-height:250px;'>
#if($designerThoughts.length() >1)		
				
					${designerThoughts}
<div style='display:inline;width:218.0px;height:1px;overflow:hidden;float:left;border-bottom:1px dashed;'><br/></div>	
#end
		
#if($keyFeatures.length()>=15&&115>$keyFeatures.length())	
<div style="display:inline;float:left;width:218.0px;color:black;font-size:13.0px;text-align:center;line-height:25px;">
				功能&简介</div>
${keyFeatures}
<div style='display:inline;width:218.0px;height:1px;overflow:hidden;float:left;border-bottom:1px dashed;'><br/></div>	
#end

#if($custMaterials.length()>= 1&&400>$custMaterials.length())
<div style="display:inline;float:left;width:218.0px;color:black;font-size:13.0px;text-align:center;line-height:25px;">
				做工&用料</div>
${custMaterials}
<div style='display:inline;width:218.0px;height:1px;overflow:hidden;float:left;border-bottom:1px dashed;'><br/></div>	
#end
	
		</div>			
			
			

			<div style='width:300.0px;float:right;display:inline;text-align:right;line-hight:14px;margin-top:25px;margin-right:25px;'>
				#if($designer.length() >1)

				本产品设计师:$designer
#else
				本产品设计师:IKEA of Sweden
		#end
			</div>
			<div style=' clear: both;height:1px;margin-top:-1px;overflow:hidden;'></div>

</div>
#if ($product.mainPics.size() > 1)
<div style='float:left;padding-bottom:20.0px;overflow:hidden;background:#ffffff;margin:auto;'>
			<div style='margin:10.0px 0.0px 15.0px;height:65.0px;color:white;'>
			<a target=_blank href='http://www.taobao.com/webww/?spm=a1z10.1.0.66.6Y3eA0&ver=1&&touid=cntaobaocharick&siteid=cntaobao&status=2&portalId=&gid=&itemsId='>
			<img src='http://img02.taobaocdn.com/imgextra/i2/42635718/T22I2FXl0XXXXXXXXX_!!42635718.gif'  style='width:750.0px;height:65.0px;'/></a>
				<div style='margin:-55.0px 0.0px 0.0px 20.0px;font-size:25.0px;line-height:40.0px;'>
					更多颜色</div>
			</div>
	#foreach( $picsmall in $product.mainPics)
		#set($i=$math.sub($velocityCount,1))
		#if($i!=0&&$i%2==0)
			
			<div style='margin-left:100.0px;margin-top:60.0px;border-bottom-style:solid;border-top-style:solid;border-left-style:solid;border-width:0px;width:280.0px;float:left;display:inline;'>
				<table border='0' cellpadding='0' cellspacing='0' class=''>
					<tbody>
						<tr>
							<td colspan='2'>
								<br />
							</td>
						</tr>
						<tr>
							<td style='width:120.0px;margin-left:10.0px;float:left;color:$product.getColor($i);text-align:center;border-style:solid;border-color:$product.getColor($i);border-width:1.0px;font-size:14.0px;'>
								$product.getaProductType($i) </td>
							<td style='padding:3.0px;width:160.0px;border-bottom-style:dashed;border-color:$product.getColor($i);font-size:15.0px;border-width:1.0px;'>
								货号:$product.getaProductId($i)</td>
						</tr>
						<tr>
							<td style='font-size:18.0px;width:120.0px;margin-left:10.0px;background:$product.getColor($i);color:white;text-align:center;float:left;border-style:solid;border-color:$product.getColor($i);border-width:1.0px;'>
								Color</td>
								<td style='padding:3.0px;width:160.0px;border-bottom-style:dashed;border-color:$product.getColor($i);font-size:15.0px;border-width:1.0px;'>
								￥ $product.getaPrice($i)</td>
						</tr>
						<tr>
							<td colspan='2'>
								<br />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div style='float:left;display:inline;min-width:50.0px;min-height:50.0px;'>
				<img src='http://www.ikea.com/PIAimages/${picsmall}_S3.jpg' style='vertical-align:top;' />
				</div>
<div style=" clear: both;height:1px;margin-top:-1px;overflow:hidden;"></div>

		#end	
		#if($i!=0&&$i%2==1)
			<div style='float:left;display:inline;margin-left:100.0px;min-width:50.0px;min-height:50.0px;'>
				<img src='http://www.ikea.com/PIAimages/${picsmall}_S3.jpg' style='vertical-align:top;' /></div>
			<div style='margin-top:50.0px;border-bottom-style:solid;border-top-style:solid;border-right-style:solid;border-width:0.0px;width:250.0px;float:left;display:inline;'>
				<table border='0' cellpadding='0' cellspacing='0' class=''>
					<tbody>
						<tr>
							<td colspan='2'>
								<br />
							</td>
						</tr>
						<tr>
							<td style='width:120.0px;margin-left:10.0px;float:left;color:$product.getColor($i);text-align:center;border-style:solid;border-color:$product.getColor($i);border-width:1.0px;font-size:14.0px;'>
								$product.getaProductType($i)</td>
							<td style='padding:3.0px;width:160.0px;border-bottom-style:dashed;border-color:$product.getColor($i);font-size:15.0px;border-width:1.0px;'>
								货号:$product.getaProductId($i)</td>
						</tr>
						<tr>
							<td style='font-size:18.0px;width:120.0px;margin-left:10.0px;background:$product.getColor($i);color:white;text-align:center;float:left;border-style:solid;border-color:$product.getColor($i);border-width:1.0px;'>
								Color</td>
							<td style='padding:3.0px;width:160.0px;border-bottom-style:dashed;border-color:$product.getColor($i);font-size:15.0px;border-width:1.0px;'>
								￥$product.getaPrice($i)</td>
						</tr>
						</tr>
						
						<tr>
							<td colspan='2'>
								<br />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
<div style=" clear: both;height:1px;margin-top:-1px;overflow:hidden;"></div>

		#end
#end
		<div style=' clear: both;height:1px;margin-top:-1px;overflow:hidden;'></div>	
</div>
#end

<div style='float:left;padding-bottom:20.0px;overflow:hidden;background:#ffffff;margin:auto;'>
			<div style='margin:10.0px 0.0px 15.0px;height:65.0px;color:white;'>
			<a target=_blank href='http://www.taobao.com/webww/?spm=a1z10.1.0.66.6Y3eA0&ver=1&&touid=cntaobaocharick&siteid=cntaobao&status=2&portalId=&gid=&itemsId='>
			<img src='http://img01.taobaocdn.com/imgextra/i1/42635718/T2X3jFXhNXXXXXXXXX_!!42635718.gif'  style='width:750.0px;height:65.0px;'/></a>
				<div style='margin:-55.0px 0.0px 0.0px 20.0px;font-size:25.0px;line-height:40.0px;'>
					细节大图</div>
			</div>

#foreach( $picBig in $product.pic_id)
#if($velocityCount%2==1)
			<div style="width:540.0px;height:530px;overflow:hidden;float:left;display:inline;margin:10px 20.0px 0px 10.0px;">
				<div style="width:500.0px;height:500.0px;overflow:hidden;float:right;margin-right:20.0px;display:inline;min-width:50.0px;min-height:50.0px;">
					<img src="http://www.ikea.com/PIAimages/${picBig}_S4.jpg" style="vertical-align:top;" />	</div>				
			<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2lmLDXkdaXXXXXXXX_!!42635718.gif" style="float:right;display:inline;margin-top:-500.0px;" />
			</div>
			#if($goodToKnow.length() >1&&$velocityCount==1)
			<div style="width:150.0px;height:200.0px;overflow:hidden;float:left;display:inline;text-align:left;margin-left:20.0px;margin-top:80.0px;background-color:#038c8c;">	</div>
			<div style="width:150.0px;height:200.0px;overflow:hidden;float:left;display:inline;text-align:left;margin-left:15.0px;margin-top:-195.0px;background-color:#ffffff;border:2px solid #038c8c;">
				<div style="display:inline;float:left;width:150.0px;color:black;font-size:16.0px;text-align:center;line-height:18px;">
				温馨提示</div>	
			<div style="display:inline;float:left;width:145.0px;color:black;text-align:left;font-size:12.0px;line-height:14.0px;padding-left:5.0px">
				<br />
				$goodToKnow
				</div>
			</div>
			#end
			<div style=" clear: both;height:1px;margin-top:-1px;overflow:hidden;"></div>
#end
#if($velocityCount%2==0)
	<div style="width:540.0px;height:530px;overflow:hidden;float:right;display:inline;margin:10px 0.0px 0px 40.0px;">
				<div style="width:500.0px;height:500.0px;overflow:hidden;float:right;margin-right:20.0px;display:inline;min-width:50.0px;min-height:50.0px;">
					<img src="http://www.ikea.com/PIAimages/${picBig}_S4.jpg" style="vertical-align:top;" />	</div>				
			<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2lmLDXkdaXXXXXXXX_!!42635718.gif" style="float:right;display:inline;margin-top:-500.0px;" />
			</div>
	
	#if($environment.length() >1&&$velocityCount==2)
<div style="width:150.0px;height:200.0px;overflow:hidden;float:right;display:inline;text-align:left;margin-right:10.0px;margin-top:80.0px;background-color:#bf0404;">	</div>
			<div style="width:150.0px;height:200.0px;overflow:hidden;float:right;display:inline;text-align:left;margin-right:-148.0px;margin-top:85.0px;background-color:#ffffff;border:2px solid #bf0404;">
				<div style="display:inline;float:left;width:150.0px;color:black;font-size:16.0px;text-align:center;line-height:28px;">
				环保提示</div>
				
			<div style="display:inline;float:left;width:145.0px;color:black;text-align:left;font-size:14.0px;line-height:24.0px;padding-left:5.0px">
				<br />
				$environment
				</div>
			</div>
	#end
						
			
			<div style=" clear: both;height:1px;margin-top:-1px;overflow:hidden;"></div>
#end
#end
</div>


<div style='float:left;padding-bottom:20.0px;overflow:hidden;background:#ffffff;margin:auto;'>
			<div style='margin:10.0px 0.0px 15.0px;height:65.0px;color:white;'>
			<a target=_blank href='http://www.taobao.com/webww/?spm=a1z10.1.0.66.6Y3eA0&ver=1&&touid=cntaobaocharick&siteid=cntaobao&status=2&portalId=&gid=&itemsId='>
			<img src='http://img04.taobaocdn.com/imgextra/i4/42635718/T2gkfFXjVXXXXXXXXX_!!42635718.gif'  style='width:750.0px;height:65.0px;'/></a>
				<div style='margin:-55.0px 0.0px 0.0px 20.0px;font-size:25.0px;line-height:40.0px;'>
					代购说明</div>
			</div>
			
			<div style='width:718.0px;float:left;display:inline;text-align:left;margin-left:16px;'>

			<div style='display:inline;float:left;width:718.0px;color:#494848;text-align:left;font-size:20.0px;line-height:40.0px;margin-left:5.0px'>
				「趣活* 找到你」是正品宜家代购，旨在为不方便亲自来IKEA购物的您送去您心仪的宜家产品。在这里呈现的所有产品均来自瑞典宜家（北京商场）。趣活所有产品的标价为宜家售价，需要根据购物总价和收取少量代购费用。<br/>具有如下：
				</div>	
			<div style='display:inline;float:left;width:718.0px;color:#494848;text-align:left;font-size:30.0px;line-height:40.0px;margin-left:5.0px'>
			您所购商品总额</br>
			</div>	
			<div style='display:inline;float:left;width:718.0px;color:#494848;text-align:left;font-size:30.0px;line-height:40.0px;margin-left:5.0px'>
			
			<table border='0' cellpadding='0' cellspacing='0' class=''>
					<tbody>
						<tr>
							<td style='width:350.0px;margin-left:10.0px;float:left;color:#905b33;text-align:right;font-size:25.0px;'>
								少于￥100</td>
							<td style='width:300.0px;text-align:left;padding-left:120px;color:#4b4b4b;font-size:25.0px;line-hight:40px;'>
								5元</td>
						</tr>
						<tr>
							<td style='width:350.0px;margin-left:10.0px;float:left;color:#905b33;text-align:right;font-size:25.0px;'>
								￥100-500</td>
							<td style='width:300.0px;text-align:left;padding-left:120px;color:#4b4b4b;font-size:27.0px;line-hight:40px;'>
								8%<span style='color:#4b4b4b;font-size:16.0px;'>（￥8-40）</span></td>
						</tr>
						<tr>
							<td style='width:350.0px;margin-left:10.0px;float:left;color:#905b33;text-align:right;font-size:25.0px;'>
								￥500-1000</td>
							<td style='width:300.0px;text-align:left;padding-left:120px;color:#4b4b4b;font-size:29.0px;line-hight:40px;'>
								7%<span style='color:#4b4b4b;font-size:16.0px;'>（￥35-70）</span></td>
						</tr>
						<tr>
							<td style='width:350.0px;margin-left:10.0px;float:left;color:#905b33;text-align:right;font-size:25.0px;'>
								￥1000-3000</td>
							<td style='width:300.0px;text-align:left;padding-left:120px;color:#4b4b4b;font-size:31.0px;line-hight:40px;'>
								6%<span style='color:#4b4b4b;font-size:16.0px;'>（￥60-180）</span></td>
						</tr><tr>
							<td style='width:350.0px;margin-left:10.0px;float:left;color:#905b33;text-align:right;font-size:25.0px;'>
								大于￥3000</td>
							<td style='width:300.0px;text-align:left;padding-left:120px;color:#4b4b4b;font-size:33.0px;line-hight:40px;'>
								4%</td>
						</tr>

					</tbody>
				</table>
			</div>
			</div>
			
			
			
			
	<div style=' clear: both;height:1px;margin-top:-1px;overflow:hidden;'></div>	
</div>	

<div style='float:left;padding-bottom:20.0px;overflow:hidden;background:#ffffff;margin:auto;'>
			<div style='margin:10.0px 0.0px 15.0px;height:65.0px;color:white;'>
			<a target=_blank href='http://www.taobao.com/webww/?spm=a1z10.1.0.66.6Y3eA0&ver=1&&touid=cntaobaocharick&siteid=cntaobao&status=2&portalId=&gid=&itemsId='>
			<img src='http://img03.taobaocdn.com/imgextra/i3/42635718/T2GNLFXcxXXXXXXXXX_!!42635718.gif'  style='width:750.0px;height:65.0px;'/></a>
				<div style='margin:-55.0px 0.0px 0.0px 20.0px;font-size:25.0px;line-height:40.0px;'>
					安全运输</div>
			</div>
			<div style='float:left;margin:10.0px 48.5px 30.0px;48.5px;color:white;width:653.0px;'>
			<div style='margin-right:40px;float:left;'>
			<img src='http://img02.taobaocdn.com/imgextra/i2/42635718/T2sxrEXipXXXXXXXXX_!!42635718.gif'  style='width:191.0px;height:96.0px;overflow:hidden;'/></div>
			<div style='margin-right:40px;float:left;'>
			<img src='http://img03.taobaocdn.com/imgextra/i3/42635718/T2AhDEXfFXXXXXXXXX_!!42635718.gif'  style='width:191.0px;height:96.0px;overflow:hidden;'/></div>
			<div style='margin-right:0px;float:left;'>
			<img src='http://img03.taobaocdn.com/imgextra/i3/42635718/T2DgvEXnRXXXXXXXXX_!!42635718.gif'  style='width:191.0px;height:96.0px;overflow:hidden;'/></div>
	
			</div>

			<div style='float:left;margin:10.0px 5px 30.0px 5px;color:#4b4b4b;width:740.0px;font-size:16.0px;line-hight:25px;'>
			NO.1 小件运输<br/>
为了保证货物运输安全并且控制物流成本，趣活*与宅急送达成合作关系，如无特殊要求，默认委托宅急送承担运输。如果您有特殊需求，可以指定其他快递，运费按该快递公司报价收取。
			</div >
			<div style='float:left;margin-left:70px;color:#4b4b4b;width:740.0px;font-size:14.0px;line-hight:25px;'>			
			<table border='1' cellpadding='0' cellspacing='0' class='' style='color:#4b4b4b;text-align:center;'>
					<tbody>
						<tr>
							<td width='180' height='48' >
								地区</td>
							<td width='180' height='48' >
								首重（1kg）</td>
							<td width='180' height='48' >
								续重（1kg以上）</td>
						</tr>
						<tr>
							<td width='180' height='48' >
								北京同城</td>
							<td width='180' height='48' >
								6元</td>
							<td width='180' height='48' >
								1元</td>
						</tr>
						<tr>
							<td width='180' height='48' >
								河北、山东、山西、天津、江苏、河南</td>
							<td width='180' height='48' >
								7元</td>
							<td width='180' height='48' >
								2元</td>
						</tr>
						<tr>
							<td width='180' height='48' >
								黑龙江、吉林、辽宁</td>
							<td width='180' height='48' >
								10元</td>
							<td width='180' height='48' >
								5元</td>
						</tr>
						<tr>
							<td width='180' height='48' >
								浙江、上海、广东</td>
							<td width='180' height='48' >
								10元</td>
							<td width='180' height='48' >
								6元</td>
						</tr>
						<tr>
							<td width='180' height='48' >
								安徽、广西、湖南、湖北</td>
							<td width='180' height='48' >
								10元</td>
							<td width='180' height='48' >
								7元</td>
						</tr>
							<tr>
							<td width='180' height='48' >
								福建、江西、海南、四川、陕西、重庆、内蒙古</td>
							<td width='180' height='48' >
								10元</td>
							<td width='180' height='48' >
								8元</td>
						</tr>
						<tr>
							<td width='180' height='48' >
								云南、贵州、青海、甘肃、宁夏</td>
							<td width='180' height='48' >
								13元</td>
							<td width='180' height='48' >
								8元</td>
						</tr>
						<tr>
							<td width='180' height='48' >
								西藏、新疆</td>
							<td width='180' height='48' >
								15元</td>
							<td width='180' height='48' >
								13元</td>
						</tr>

					</tbody>
				</table>

			</div>
			
			<div style='float:left;margin:10.0px 5px 30.0px 5px;color:#4b4b4b;width:740.0px;font-size:16.0px;line-hight:25px;'>
			NO.2 大件运输<br/>
大件货品使用快递运费较高，并且安全很难保证。木质家居，沙发等推荐使用物流运输。本店可发德邦物流和佳吉物流，运输费用请咨询客服。</br></br>
NO.3 及时发货<br/>
我们将会在您拍下付款后12-48小时左右发货，发货的当天晚上10后会有快递更新，由于订单量较大，给您带来的麻烦请你谅解！	<br/>		</div >
			
	<div style=' clear: both;height:1px;margin-top:-1px;overflow:hidden;'></div>	
</div>	
	<div style='float:left;padding-bottom:20.0px;overflow:hidden;background:#ffffff;margin:auto;'>	
	<img src='http://img03.taobaocdn.com/imgextra/i3/42635718/T2FF6FXj0aXXXXXXXX_!!42635718.jpg' />
	</div>	
</div>