	<?xml version="1.0" encoding="UTF-8"?>
	<table width='750' cellpadding='0' cellspacing='0' border='0' align='center'>                                                                                                                                
		<tr>                                                                                                                                                                                                     
			<td>                                                                                                                                                                                                 
				<img src='http://img02.taobaocdn.com/imgextra/i2/42635718/T2SBnwXgJXXXXXXXXX_!!42635718.png;'>                                                                                                   
			</td>                                                                                                                                                                                                
		</tr>                                                                                                                                                                                                    
	</table>                                                                                                                                                                                                     
	<table width='750' cellpadding='0' cellspacing='0' border='0' align='center' background='http://img02.taobaocdn.com/imgextra/i2/42635718/T2c5zwXi4XXXXXXXXX_!!42635718.png' text-align='left' font-size='14.0px' line-height='1.5' color='#6a6a6a'>                                                                                                                                      
		<tr>                                                                                                                                                                                                     
			<td width='5'>                                                                                                                                                                                       
			</td>                                                                                                                                                                                                
			<td style='width:600; valign:top; align:left;'>                                                                                                                                                      
				<table width='600' cellpadding='0' cellspacing='0' border='0'> 
					#if($product.custMaterials.length()>= 1)
					<tr>                                                                                                                                                                                         
						<td width='580' valign='top' colspan='4'>                                                                                                                                                
							<table>                                                                                                                                                                              
								<tr>                                                                                                                                                                             
									<td width='580' style='border-bottom:1px solid #ddd;float:left;font-family:Microsoft YaHei;font-size: 20px;line-height: 24px;color: #333;padding-top:1em;'>                  
										产品描述                                                                                                                                                                     
									</td>                                                                                                                                                                        
								</tr>                                                                                                                                                                            
								<tr style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                 
									<td>                                                                                                                                                                         
										 ${product.custMaterials}                                                                                                                                                             
										<br/>                                                                                                                                                                    
									</td>                                                                                                                                                                        
								</tr>                                                                                                                                                                            
							</table>                                                                                                                                                                             
						</td>                                                                                                                                                                                    
					</tr>  
					#end
					#if($product.keyFeatures.length()>=15)
					<tr>                                                                                                                                                                                         
						<td width='580' valign='top' colspan='4'>                                                                                                                                                
							<table>                                                                                                                                                                              
								<tr>                                                                                                                                                                             
									<td width='580' style='border-bottom:1px solid #ddd;float:left;font-family:Microsoft YaHei;font-size: 20px;line-height: 24px;color: #333;padding-top:1em;'>                  
										重要特征                                                                                                                                                                     
									</td>                                                                                                                                                                        
								</tr>                                                                                                                                                                            
								<tr style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                 
									<td>                                                                                                                                                                         
										${product.keyFeatures}                                                                                                                                                                   
										                                                                                                                                                                   
									</td>                                                                                                                                                                        
								</tr>                                                                                                                                                                            
							</table>                                                                                                                                                                             
						</td>                                                                                                                                                                                    
					</tr>
					#end
					<tr>                                                                                                                                                                                         
			
						<td width='290' valign='top'>                                                                                                                                                            
							<table>                                                                                                                                                                              
#if($product.designer.length() > 1 ||$product.designerThoughts.length() > 1)

								<tr>                                                                                                                                                                             
									<td width='290' style='border-bottom:1px solid #ddd;float:left;font-family:Microsoft YaHei;font-size: 20px;line-height: 24px;color: #333;padding-top:1em;'>                  
										设计师                                                                                                                                                                    
									</td>                                                                                                                                                                        
								</tr> 
		#end
			#if($product.designerThoughts.length() >1)
								<tr style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                 
									<td>                                                                                                                                                                         
										$product.designerThoughts                                                                                                                                                   
									</td>                                                                                                                                                                        
								</tr>
			#end					
			#if($product.designer.length() >1)
								<tr style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                 
									<td>                                                                                                                                                                         
										$product.designer                                                                                                                                                   
									</td>                                                                                                                                                                        
								</tr>
			#end	
			#if($product.assembledSize.length() >1)
					<tr>                                                                                                                                                                             
									<td width='290' style='border-bottom:1px solid #ddd;float:left;font-family:Microsoft YaHei;font-size: 20px;line-height: 24px;color: #333;padding-top:1em;'>                  
										安装后尺寸                                                                                                                                                                    
									</td>                                                                                                                                                                        
								</tr> 
					<tr style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                 
									<td>                                                                                                                                                                         
										$product.assembledSize                                                                                                                                                   
									</td>                                                                                                                                                                        
								</tr>
				#end
				#if($product.goodToKnow.length() >1)
					<tr>                                                                                                                                                                             
									<td width='290' style='border-bottom:1px solid #ddd;float:left;font-family:Microsoft YaHei;font-size: 20px;line-height: 24px;color: #333;padding-top:1em;'>                  
										相关提示                                                                                                                                                                    
									</td>                                                                                                                                                                        
								</tr> 
					<tr style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                 
									<td>                                                                                                                                                                         
										$product.goodToKnow                                                                                                                                                   
									</td>                                                                                                                                                                        
								</tr>
				#end
				#if($product.environment.length() >1)
					<tr>                                                                                                                                                                             
									<td width='290' style='border-bottom:1px solid #ddd;float:left;font-family:Microsoft YaHei;font-size: 20px;line-height: 24px;color: #333;padding-top:1em;'>                  
										环保信息                                                                                                                                                                    
									</td>                                                                                                                                                                        
								</tr> 
					<tr style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                 
									<td>                                                                                                                                                                         
										$product.environment                                                                                                                                                   
									</td>                                                                                                                                                                        
								</tr>
				#end
								
							</table>                                                                                                                                                                             
						</td>  
			
						<td width='20'>                                                                                                                                                                          
						</td>                                                                                                                                                                                    
						<td width='290' valign='top'>                                                                                                                                                            
							<table>                                                                                                                                                                              
								<tr>                                                                                                                                                                             
									<td width='290' style='border-bottom:1px solid #ddd;float:left;font-family:Microsoft YaHei;font-size: 20px;line-height: 24px;color: #333;padding-top:1em;'>                  
										包装尺寸/重量                                                                                                                                                             
									</td>                                                                                                                                                                        
								</tr>                                                                                                                                                                            
								<tr style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                 
									<td>                                                                                                                                                                         
										包装：$product.numberOfPackages                                                                                                                                                              
									</td>                                                                                                                                                                        
								</tr>                                                                                                                                                                            
			#if($product.numberOfPackages == 1)

								<tr style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                 
									<td>                                                                                                                                                                         
										$product.productInformation                                                                                                                                   
										<br/>                                                                                                                                                                    
									</td>                                                                                                                                                                        
								</tr> 
		 #else                 
			              <tr style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                 
									<td>                                                                                                                                                                         
										尺寸和重量详见IKEA官网                                                                                                                                   
										<br/>                                                                                                                                                                    
									</td>                                                                                                                                                                        
								</tr> 
		 #end	
	#if($product.careInst.length() >1)
					<tr>                                                                                                                                                                             
									<td width='290' style='border-bottom:1px solid #ddd;float:left;font-family:Microsoft YaHei;font-size: 20px;line-height: 24px;color: #333;padding-top:1em;'>                  
										保养说明                                                                                                                                                                    
									</td>                                                                                                                                                                        
								</tr> 
					<tr style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                 
									<td>                                                                                                                                                                         
										$product.careInst                                                                                                                                                   
									</td>                                                                                                                                                                        
								</tr>
	#end
	#if($product.lowestPrice.length() >1)
					<tr>                                                                                                                                                                             
									<td width='290' style='border-bottom:1px solid #ddd;float:left;font-family:Microsoft YaHei;font-size: 20px;line-height: 24px;color: #333;padding-top:1em;'>                  
										低价格从哪里来                                                                                                                                                                    
									</td>                                                                                                                                                                        
								</tr> 
					<tr style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                 
									<td>                                                                                                                                                                         
										$product.lowestPrice                                                                                                                                                   
									</td>                                                                                                                                                                        
								</tr>
	#end
	
	
								                                                                                                                                                                            
								                                                                                                                                                                            
							</table>                                                                                                                                                                             
						</td>                                                                                                                                                                                    
					</tr>                                                                                                                                                                                        
				</table>                                                                                                                                                                                         
			</td>                                                                                                                                                                                                
			<td width='120' valign='top'>                                                                                                                                                                        
				<table width='120' style='text-align: left;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                                                  
					<tr>                                                                                                                                                                                         
						<td>                                                                                                                                                                                     
							<img src='http://www.ikea.com/PIAimages/
								$product.pic_id.get(0)
								_S2.jpg' />                                                                                                                  
						</td>                                                                                                                                                                                    
					</tr>                                                                                                                                                                                        
					<tr>                                                                                                                                                                                         
						<td align='center'>                                                                                                                                                                      
							<div style='word-wrap:break-word;;'>                                                                                                                                                 
								<br />                                                                                                                                                                           
								$product.ProductName                                                                                                                                                                      
								<br />                                                                                                                                                                           
								RMB:$!product.getMinumPrice()                                                                                                                                                                         
								<br />                                                                                                                                                                           
							</div>                                                                                                                                                                               
						</td>                                                                                                                                                                                    
					</tr> 
					<tr>                                                                                                                                                                                         
						<td align="center" >                                                                                                                                                                                     
							<font size='2px' color='red'>                                                                                                                                            
								(<a href='http://www.ikea.com/cn/zh/catalog/products/${product.product_id}'  target='_Blank'>官网链接</a>)                                                                                                                                                                    
							</font>                                                                                                                  
						</td>                                                                                                                                                                                    
					</tr>
					
				</table>                                                                                                                                                                                         
			</td>                                                                                                                                                                                                
			<td width='25'>                                                                                                                                                                                      
			</td>                                                                                                                                                                                                
		</tr>                                                                                                                                                                                                    
	</table>                                                                                                                                                                                                     
	#if ($product.mainPics.size() > 1)
	<table width='750' cellpadding='0' cellspacing='0' border='0' align='center'                                                                                                                                 
	background='http://img02.taobaocdn.com/imgextra/i2/42635718/T2c5zwXi4XXXXXXXXX_!!42635718.png'                                                                                                               
	text-align='left' font-size='14.0px' line-height='1.5' color='#6a6a6a'>                                                                                                                                      
		<tr>                                                                                                                                                                                                     
			<td width='5'>                                                                                                                                                                                       
			</td>                                                                                                                                                                                                
			<td width='600' colspan='1' style='border-bottom:1px solid #ddd;float:left;font-family:Microsoft YaHei;font-size: 20px;line-height: 24px;color: #333;padding-top:1em;'>                              
				更多配色                                                                                                                                                                                             
			</td>                                                                                                                                                                                                
		</tr>                                                                                                                                                                                                    
		<tr>                                                                                                                                                                                                     
			<td width='5'>                                                                                                                                                                                       
			</td>                                                                                                                                                                                                
			<td align='left' style='width:750;'>  
				#foreach( $picsmall in $product.mainPics)
					#set($i=$math.sub($velocityCount,1))
				#if($i==0)
					#break
					#end
				<table align='left' style='width:120;'>         
					<tr>                                                                                                                                                                                         
						<td>                                                                                                                                                                                     
							<img src='http://www.ikea.com/PIAimages/${picsmall}_S2.jpg' />                                                                                                                  
						</td>                                                                                                                                                                                    
					</tr>                                                                                                                                                                                        
					<tr>                                                                                                                                                                                         
						<td>                                                                                                                                                                                     
							<div style='word-wrap:break-word;text-align: center;font-size: 14.0px;line-height: 1.5;color: #6a6a6a;'>                                                                             
								$product.getaProductType($i)                                                                                                                                                                                
								<br />                                                                                                                                                                           
								RMB:$product.getaPrice($i)                                                                                                                                                                       
								<br />                                                                                                                                                                           
							</div>                                                                                                                                                                               
						</td>                                                                                                                                                                                    
					</tr>                                                                                                                                                                                        
				</table>        
				#end
			</td>                                                                                                                                                                                                
			<td width='25'></td>
                                                                                                                                                                                      
		</tr>                                                                                                                                                                                                    
	</table> 
	#end
	<table width='750' cellpadding='0' cellspacing='0' border='0' align='center'                                                                                                                                 
	background='http://img02.taobaocdn.com/imgextra/i2/42635718/T2c5zwXi4XXXXXXXXX_!!42635718.png'                                                                                                               
	text-align='left' font-size='14.0px' line-height='1.5' color='#6a6a6a'>                                                                                                                                      
		<tr>                                                                                                                                                                                                     
			<td width='5'>                                                                                                                                                                                       
			</td>                                                                                                                                                                                                
			<td width='720' colspan='1' style='border-bottom:1px solid #ddd;float:left;font-family:Microsoft YaHei;font-size: 20px;line-height: 24px;color: #333;padding-top:1em'>                               
				细节大图                                                                                                                                                                                             
			</td>                                                                                                                                                                                                
		</tr>  
		#foreach( $picBig in $product.pic_id)
		<tr>                                                                                                                                                                                                     
			<td width='5'>                                                                                                                                                                                       
			</td>                                                                                                                                                                                                
			<td width='730'>                                                                                                                                                                                     
				<img src='http://www.ikea.com/PIAimages/${picBig}_S4.jpg' />                                                                                                                              
				<img src='http://img02.taobaocdn.com/imgextra/i2/42635718/T2ukzvXepaXXXXXXXX_!!42635718.png'/>                                                                                                                                                                                               
			</td>                                                                                                                                                                                                
			<td width='25'>                                                                                                                                                                                      
			</td>                                                                                                                                                                                                
		</tr> 
		#end
	</table>                                                                                                                                                                                                     
	<table width='750' cellpadding='0' cellspacing='0' border='0' align='center'                                                                                                                                 
	background='http://img02.taobaocdn.com/imgextra/i2/42635718/T2c5zwXi4XXXXXXXXX_!!42635718.png'                                                                                                               
	text-align='left' font-size='14.0px' line-height='1.5' color='#6a6a6a'>                                                                                                                                      
		<tr>                                                                                                                                                                                                     
			<td width='5'>                                                                                                                                                                                       
			</td>                                                                                                                                                                                                
			<td>                                                                                                                                                                                                 
				<div align='right' style='font-family:Microsoft YaHei;font-size: 12px;line-height: 18px;color: #333;'>                                                                                           
					COPYRIGHT 2013 BESIDE IKEA                                                                                                                                                                   
				</div>                                                                                                                                                                                           
			</td>                                                                                                                                                                                                
			<td width='25'>                                                                                                                                                                                      
			</td>                                                                                                                                                                                                
		</tr>                                                                                                                                                                                                    
	</table>                                                                                                                                                                                                     
